/*Styles for the containers for sleep summary,sleep quality indicator and sleep trnd analysis */
.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}


label {
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
}


h1 {
    font-size: 24px;
    margin-bottom: 20px;
    
}

.form-buttons {
    justify-content: space-between;
    display: flex;
}

input {
    border-radius: 4px;
    margin-bottom: 15px;
    width: calc(100% - 16px);
    padding: 8px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}


/* Styles for the cancel button */
.button.cancel {
    background: #6c757d;
}

.button.cancel:hover {
    background: #5a6268;
}

/*Styles for the buttons */
.button {

    transition: background 0.3s ease;
    width: 100px;
    height: 40px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    background: #007bff;
    border: none;
    border-radius: 5px;
    outline: none;
}

.button:hover {
    background: #0056b3;
}


button:first-of-type {
    margin-right: 4%;
}


/*Styles for the body */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    height: 100vh;
    margin: 0;
}

button:last-of-type {
    margin-left: 4%;
}

