/* General reset for padding and margin */
body, ul {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 10px 20px;
}

.logo h1 {
    color: rgb(255, 255, 255);
    margin: 0;
}

.nav-links {
    display: grid;
    grid-template-columns: repeat(7, auto);
    list-style-type: none;
    gap: 10px; /* Space between each link */
}

.nav-links li {
    display: inline; /* Ensures that list items are displayed inline */
    align-items: center;
}

.nav-links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: #575757; /* Background color on hover */
    text-decoration: underline;
}

.date-switcher {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    margin: 5px;

    h2 {
        margin: 0;
        font-size: 25px;
        transition: color 0.3s ease;
    }
    h2:hover {
        color: #d4d5d7; /* Change arrow color on hover */
        transform: scale(1.2); /* Slightly enlarge arrow on hover */
        text-decoration: underline;
    }

    .arrow {
        cursor: pointer;
        font-size: 25px;
        margin: 0 8px;
        user-select: none;
        transition: color 0.3s ease;
    }

    .arrow:hover {
        color: #d4d5d7; /* Change arrow color on hover */
        transform: scale(1.2); /* Slightly enlarge arrow on hover */
        text-decoration: underline;
    }
}

.calo-info {
    h3{
        font-size: 25px;
        margin-left: 10px;
        margin-bottom: 10px;
        text-decoration: underline;
    }

    .calo-summary-table {
        width: 100%; /* Table takes up the full width of its container */
        border-collapse: collapse; /* Removes space between table cells */
        
        th, td {
            padding: 8px 12px; /* Adds some padding for readability */
            border: 1px solid #000000; /* Adds a border to table cells */
            text-align: center;
        }
        th{
            color: #fff;
            background-color: #444242; /* Light grey background for header */
        }
        
        td{
            color: #050505;
            font-size: 22px;
            border-left: none;  /* Remove left border */
            border-right: none; /* Remove right border */
            border-bottom: none; /* Remove right border */
        }
        
        th:nth-child(2), td:nth-child(2) {
            width: 5px; /* Fixed width for the first column */
        }
        
        th:nth-child(4), td:nth-child(4) {
            width: 5px;
        }
        
        th:nth-child(6), td:nth-child(6) {
            width: 5px;
        }
    }
}
.nutrient-info {
    h3{
        font-size: 25px;
        margin-left: 10px;
        margin-bottom: 10px;
        text-decoration: underline;
    }
    .calories-tables {
        width: 100%; 
        border-collapse: collapse; 

        th, td {
            padding: 8px 12px; /* Adds some padding for readability */
            border: 1px solid #000000; /* Adds a border to table cells */
        }
        th{
            color: #fff;
            background-color: #444242;
            font-size: 22px;
        }
        th:nth-child(1) {
            text-align: left;
        }

        td{
            color: #050505;
            font-size: 17px;
            text-align: left;
        }

        .calo-info-row {
            td:nth-child(even) {
                text-align: center;
                width: 5px;
                
            }
            td:nth-child(odd) {
                border-bottom: none;
                font-size: 20px;
            }
        }
        .calo-info-even-row {
            td {
                border-top: none;
                width: 90%; 
            }
        }

        .add-food-button {
            td {
                border-bottom: none;
                border-left: none;
                border-right: none;
                width: 100px;
            }
            button {
                margin-bottom: 50px;
            }
        }
        .add-food-button :hover {
            color: #605e61;
            cursor: pointer;
            
        }
    }

    .add-items-tables {
        width: 100%; 
        border-collapse: collapse; 

        th, td {
            padding: 8px 12px; /* Adds some padding for readability */
            border: 1px solid #000000; /* Adds a border to table cells */
        }
        th{
            color: #fff;
            background-color: #444242;
            font-size: 22px;
        }
        th:nth-child(1) {
            text-align: left;
        }

        td{
            color: #050505;
            font-size: 17px;
            text-align: left;
        }

        .calo-info-row {
            td:nth-child(even) {
                text-align: center;
                width: 5px;
            }
            td:nth-child(odd) {
                border-bottom: none;
                font-size: 20px;
            }
        }
        .calo-info-even-row {
            td {
                border-top: none;
            }
        }
        .add-item-row {
            td {
                width: 100%; 
                border: none;
            }

        }
        .add-item-button :hover {
            color: #605e61;
            cursor: pointer;
        }
    }
}


/* Styling for Back to Main Dashboard button */
#back-to-dashboard-button {
    padding: 25px 50px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    background-color: #444242;
    transition: background-color 0.3s ease;
}
/* Container that centers the back-to-dashboard-button */
.back-to-dashboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; /* 100% of the viewport height */
    transition: color 0.3s ease;
}
.back-to-dashboard-container :hover {
    text-decoration: underline;   /* Underline on hover */
}

#complete-day-dairy-button {
    padding: 25px 50px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    background-color: #444242;
    transition: background-color 0.3s ease;
}
.complete-day-dairy-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    transition: color 0.3s ease;
}
.complete-day-dairy-container :hover {
    text-decoration: underline;
}

.search-bar {
    text-align: center;
    margin-top: 20px;
}
input[type="search"] {
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 750px;
}

input[type="submit"] {
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: white;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #444242;
}